dist: focal
addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.10
before_install: 
  - python -m venv myenv
  - source myenv/bin/activate
  - pip install -r requirements.txt
  - sudo apt-get update
  - sudo apt purge python2.7-minimal
  - sudo apt-get install python3 python3-pip python3-setuptools
  - pip3 install --upgrade pip

script: 
  - python manage.py test